<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642800455668-8g551eskn11it6olq52ndjh2q1ki5ci3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642800455668-8g551eskn11it6olq52ndjh2q1ki5ci3</string>
	<key>API_KEY</key>
	<string>AIzaSyAGpUTVWUSefWn6mOWZNl5pFQ8MRrYzpE4</string>
	<key>GCM_SENDER_ID</key>
	<string>642800455668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jury-duty.com</string>
	<key>PROJECT_ID</key>
	<string>jury-duty-dd31d</string>
	<key>STORAGE_BUCKET</key>
	<string>jury-duty-dd31d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642800455668:ios:4c1c0caa2444911dd6b3a1</string>
	<key>DATABASE_URL</key>
	<string>https://jury-duty-dd31d.firebaseio.com</string>
</dict>
</plist>