<ion-header>
  <ion-toolbar>
    <ion-title>Login to Jury Duty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding center text-center>
  <ion-title>Jury Duty</ion-title>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="login()" color="success">Log in</ion-button>
  <ion-button (click)="forgot()" color="primary">Forgot Password?</ion-button>
  <br>
  <ion-label>Need an account?</ion-label>
  <br>
  <ion-button (click)="goRegister()" color="danger">Register Here</ion-button>
  <p>Are you an organiser?</p>
  <p>Ask the admin for your code</p>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Code" [(ngModel)]="code"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="organiser()" color="success">GO!</ion-button>
  <p>Are you a jury member?</p>
  <p>Ask your organiser for your code</p>
  <ion-list>
    <ion-item>
      <ion-input placeholder="Code" [(ngModel)]="code"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="jury()" color="success">GO!</ion-button>
</ion-content>
