.iitem {
    width: 30%;
    position: relative;
    margin:auto;
}

.ibutton {
    margin: auto;
    position: relative;
    text-align: center;
    width:30%;
}

.register {
    position: relative;
    left: -65px;
}

.register:hover{
    color: blue;
}

.forgot {
    position: relative;
    left: 65px;
}

.forgot:hover{
    color: blue;
}

.forgot_item {
    width: 40%;
    position: relative;
    margin:auto;
}

.code {
    width: 20%;
    position: relative;
    margin:auto;
}
.code_phone {
    width: 70%;
    position: relative;
    margin:auto;
}

