<ion-header>
  <ion-toolbar>
    <ion-title>Jury</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
Welcome, {{juror.name}}
<br>
<ion-button (click)="logout()">Logout</ion-button> <br>
<ion-button *ngIf="!found" (click)="findContests()">Afiseaza concursurile</ion-button>
<div *ngIf="found">
  <div *ngIf = "!started">
    Wait for your contest to start ...
  </div>
  <div *ngIf = "started && !ended" >
    {{name}} started!
    
    <ion-button *ngIf="!juryClicked" (click)="jury()">Start Jury Duty</ion-button><br>
    Series {{currentSeries}}, Round {{currentRound}}<br>
    Time until voting starts: {{roundTime}} <br>
    <div *ngIf = "!disableInput">
        <ion-input *ngFor="let team of competingTeams" placeholder="Enter note for {{team}}" [(ngModel)]="myGrades[team]"></ion-input>
        <ion-button (click)="vote()">Vote</ion-button>
    </div>
    
  </div>
</div>
</ion-content>
