<ion-header>
  <ion-toolbar>
    <ion-title>Jury</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
Welcome, {{juror.name}}
<br>
<ion-button (click)="logout()">Logout</ion-button> <br>
<ion-button *ngIf="!found" (click)="findContests()">Afiseaza concursurile</ion-button>
<div *ngIf="found">
  <div *ngIf = "!started">
    Wait for your contest to start ...
  </div>
  <div *ngIf = "started">
    {{contest.name}} started!
    Time until voting starts: {{maxTime}} 
    <ion-button (click)="jury()">Start Jury Duty</ion-button>
    <div *ngIf = "!disableInput">
        <ion-input *ngFor="let team of contest.teams" placeholder="Enter note for {{team}}"></ion-input>
    </div>
    
  </div>
</div>
</ion-content>
