<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Welcome to Jury Duty</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Jury Duty is an app that allows you to [insert more here]</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Documentation</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>How to use</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Contact</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
